body{
background-color: #C3E3E0;
}

.mysalogan{
text-transform: uppercase;
font-size: 120px;
line-height: 90px;
}

h2{
font-family: 'Mitr', sans-serif;
}

p{
font-family: 'Pridi', serif;
}

.imgborder{
  border-style: solid;
  border-color: white;
}

.colborder{
  border-style: solid;
  border-color: white;
}

.imgcircle{
  border-radius: 50%;
}

